body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    font-family: 'Shizuru', cursive;
    
}

/*screen for the pixel hehe*/
.screen{
    width: 260px;
    height: 260px;
    margin: 10px auto 20px;
    background-color: rgba(194, 211, 180, 0.589);
    border-radius: 1%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    
}

/* the baby */
.pet {
  width: 18px;
  height: 15px;
  image-rendering: pixelated; 

  transform: scale(6) translateY(3px);
  transform-origin: center center;

  margin: 0;
  position: relative;
  
}

.pet.wandering {
  animation: wanderSteps 9s steps(8) infinite alternate;
}

@keyframes wanderSteps {
  0%   { transform: scale(6) translate(-12px, 8px); }
  100% { transform: scale(6) translate( 12px, 8px); }
}

.pet.eating {
  animation: none;              
  transform: scale(18) translate(3px, 3px); 
  position: center;
}


.hidden { display: none; }

/*hiding statistics from users*/
.stats {
  display: none;


}

.care-timer {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 14px;
  letter-spacing: 1px;

  color: #4e5747;
  background: rgba(255, 255, 255, 0.7);
  padding: 2px 6px;
  border-radius: 4px;

  font-family: monospace; /* pixel-y feel */
}

.hidden {
  display: none;
}

.gamestats {
    display: none;
  }

/*button styling*/
.controls {
    color: white;

    
    justify-content: center;
    align-items: center;
    padding: 2%;
    display: flex;
    

}

.controls button {
    background: none;
    cursor:pointer;

    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    
}

.controls img {
    width: 32px;
    height: 32px;
    display: block;
    cursor:pointer;
    background: rgb(255, 255, 255);

    border: 2px solid rgba(78, 87, 71, 0.589);
    border-radius: 5%;
    padding: 5px;

    
}

.controls img:hover {
  background: rgb(179, 183, 201);
}



#gameView {
  text-align: center;
}

#titlecard {
  position: absolute;
  top: -10px;              /* distance from top of screen */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  font-family: "Shizuru", cursive;
  font-size: 18px;
}

.screen h3 {
  text-align: center;
  width: 100%;
}

.mood {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(6);
  image-rendering: pixelated;
}

.hidden { display: none; }

.gamebuttons button,
#btnExitGame {
  display:block;

  border: 1px dotted #000;
  background: #fff;

  border-radius: 6px;
  padding: 8px 50px;
  font-family: 'Courier New', Courier, monospace;

}

.gamebuttons button:hover,
#btnExitGame:hover {
  background: #e6e6e6;
}