body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

/*screen for the pixel hehe */
.screen{
    width: 260px;
    height: 260px;
    margin: 10px auto 20px;
    background-color: rgba(194, 211, 180, 0.589);
    border-radius: 1%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    
}

/*the baby */
.pet {
  width: 18px;
  height: 18px;
  image-rendering: pixelated;

  transform: scale(6) translateY(3px);
  transform-origin: center center;

  position: relative;
}

/* ONLY wander when this class exists */
.pet.wandering {
  animation: wanderSteps 9s steps(8) infinite alternate;
}

/* horizontal movement only */
@keyframes wanderSteps {
  from { transform: translateX(-12px); }
  to   { transform: translateX(12px); }
}


/*button styling */
.controls {
    color: white;

    
    justify-content: center;
    align-items: center;
    padding: 2%;
    display: flex;
    

}

.controls button {
    background: none;
    cursor:pointer;

    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    
}

.controls img {
    width: 32px;
    height: 32px;
    display: block;
    cursor:pointer;
    background: rgb(255, 255, 255);

    border: 2px solid rgba(78, 87, 71, 0.589);
    border-radius: 5%;
    padding: 5px;

    
}

.controls img:hover {
  background: rgb(179, 183, 201);
}